<div >
    <form style="margin: auto;"><br>
        <input class="input-style" type="text" placeholder="Mobile number, email or username"><br>
        <input class="input-style" type="password" placeholder="Password"><br>
    </form><br>
    <button class="btn btn-primary" style="width: 100%;">Login</button>
    <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
        <div class="col-sm-5"><hr></div>
        <div class="col-sm-2" style="font-size: 12px;padding-left: 10px;"><p >OR</p></div>
        <div class="col-sm-5"><hr></div>
    </div>
    <button class="btn btn-primary" style="width: 100%;">Log in with Facebook</button><br>
    <p><a href="">Forget Password?</a></p>
</div>