<div>
    <h6 style="margin: auto;">Sign up to see photos and videos <br> from your friends</h6><br>
    <button class="btn btn-primary" style="width: 100%;">Log in with Facebook</button><br>
    <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
        <div class="col-sm-5">
            <hr>
        </div>
        <div class="col-sm-2" style="font-size: 12px;padding-left: 10px;">
            <p>OR</p>
        </div>
        <div class="col-sm-5">
            <hr>
        </div>
    </div>
    <form style="margin: auto;">
        <input class="input-style" type="text" placeholder="Mobile Number or Email"><br>
        <input class="input-style" type="text" placeholder="Full Name"><br>
        <input class="input-style" type="text" placeholder="User Name"><br>
        <input class="input-style" type="password" placeholder="Password"><br>
    </form><br>
    <button class="btn btn-primary" style="width: 100%;">Sign up</button>
    <p>By signing up, you agree to our Terms , Data Policy and Cookies Policy .</p>
</div>