<div>
    <h6 style="margin: auto;">Sign up to see photos and videos <br> from your friends</h6><br>
    <button class="btn btn-primary" style="width: 100%;">Log in with Facebook</button><br>
    <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
        <div class="col-sm-5">
            <hr>
        </div>
        <div class="col-sm-2" style="font-size: 12px;padding-left: 10px;">
            <p>OR</p>
        </div>
        <div class="col-sm-5">
            <hr>
        </div>
    </div>
    <form style="margin: auto;" novalidate [formGroup]="signupForm" (ngSubmit)="signup()">
        <input class="input-style form-control" formControlName="email" type="text" placeholder="Email"><br>
        <input class="input-style form-control" formControlName="name" type="text" placeholder="Full Name"><br>
        <input class="input-style form-control" formControlName="number" type="text" placeholder="Phone number"><br>
        <input class="input-style form-control" formControlName="password" type="password" placeholder="Password"><br>
        <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary" style="width: 100%;">Sign up</button>
    </form><br>
    <p>By signing up, you agree to our Terms , Data Policy and Cookies Policy .</p>
</div>