<div class="container">
    <div class="row" style="margin: 20px;">
        <div class="col-sm">
            <i class="fa fa-instagram fa-2x"></i>&nbsp;
            <span class="vl"></span>&nbsp;
            <b><i style="font-size: 25px;"> Instagram</i></b>
        </div>
        <div class="col-sm">
            <input type="text" placeholder="Search">
        </div>
        <div class="col-sm">
            <i class="fa fa-compass fa-2x"></i>&nbsp;&nbsp;&nbsp;
            <i class="fa fa-heart fa-2x"></i>&nbsp;&nbsp;&nbsp;
            <i [routerLink]="['/profile']" class="fa fa-user fa-2x"></i>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</div>
<hr>
<div class="container">
    <button [routerLink]="['/post']" style="margin-left: 45%;" class="btn btn-primary">New Post</button>
    <br>
</div><br>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="card" *ngFor="let post of allPost" style="margin-bottom: 30px;">
                <div style="margin: 10px;" [routerLink]="['/post-detail', post._id]">
                    <img src="{{post.avatar}}" class="avatar-img" alt="avatar"> &nbsp;&nbsp;
                    <span class="card-title"><b>{{post.name | titlecase}}</b></span>
                </div>
                <img src="{{post.img}}" style="max-height: 500px;" alt="faker image">
                <div>
                    <i (click)="like(post._id, post.liked)" [style.color]="post.liked ? 'red' : ''" class="btn fa fa-heart fa-2x icon"></i>
                    <i class="fa fa-share fa-2x icon" (click)="showSnackbar(1)"></i>
                    <i class="fa fa-comment fa-2x icon" (click)="postNew.click()"></i>
                    <i class="fa fa-bookmark fa-2x align-right" (click)="showSnackbar(2)"></i><br>
                    <span style="padding-left: 20px;">{{post.totalLike}} Likes</span>
                </div>
                <div class="card-body" style="margin-bottom: 0px;padding-bottom: 0px;">
                    <p><b>{{post.name | titlecase}}</b> : {{post.desc}} <br>{{(post.comments).length}} Comments</p>
                </div>
                <form class="form-inline" style="margin: 10px;">
                    <label for="comment"><b>Comment : </b></label>&nbsp;&nbsp;&nbsp;
                    <input class="form-control" type="text" id="comment" #postNew>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" (click)="addComment(post._id)">Post</button>
                </form>
                <div id="snackbar">Comment posted</div>
            </div>
        </div>
        <div class="col-sm-4" style="background-color: aliceblue;">
            <div style="margin: 10px;" [routerLink]="['/profile']">
                <img src="{{currentUser.img}}" class="avatar-img" alt="avatar"> &nbsp;&nbsp;
                <span class="card-title"><b><i>{{currentUser.name | titlecase}}</i></b></span>
            </div>
            <hr>
            <div >
                Suggestions For You
                <div *ngFor="let user of users">
                    <img src="{{user.avatar}}" class="avatar-img" alt="avatar"> &nbsp;&nbsp;
                    <span class="card-title"><b><i>{{user.name | titlecase}}</i></b></span>
                    <button type="button" class="align-right btn btn-primary" (click)="follow(user.id, user.status)">{{user.status}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #f3f3f3; padding-top: 30px;" class="d-flex justify-content-center">
    <p>ABOUT US &nbsp;&nbsp;&nbsp; SUPPORT &nbsp;&nbsp;&nbsp; PRESS &nbsp;&nbsp;&nbsp; API &nbsp;&nbsp;&nbsp;
        JOBS &nbsp;&nbsp;&nbsp; PRIVACY &nbsp;&nbsp;&nbsp; TERMS &nbsp;&nbsp;&nbsp; DIRECTORY &nbsp;&nbsp;&nbsp;
        PROFILES &nbsp;&nbsp;&nbsp; HASHTAGS &nbsp;&nbsp;&nbsp; LANGUAGE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        © 2019 INSTAGRAM FROM FACEBOOK</p>
</div>